.logo {
    display: inline-block;
}

.single-page-header {
    background-image: url('/images/about/background.jpeg');
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff; /* Replaced $light */
    position: relative;
}

.single-page-header::before {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
